<html>

<body>
    <center style="margin-top: 20vh;">
        <h1>
            Admin Portal
        </h1>

    </center>
    <h3 style="margin-left: 20vw;">
        What do you want to do today?
    </h3>
    <ul>
        <li style="margin-left: 20vw;">
            <a href="/admin/book">Add books</a>
        </li>
        <br>
        <li style="margin-left: 20vw;">
            <a href="/">Back</a>
        </li>
    </ul>
</body>

</html>